.containerCalendar {
  padding: 0 5%;
  padding-bottom: 5%;
}
.containerCalendar :global(.fc-col-header) {
  background-color: rgb(var(--color-primary));
  color: white;
}
.containerCalendar :global(.fc-theme-standard td) {
  border: 0.5px solid rgb(var(--color-primary));
}
.containerCalendar :global(.fc-highlight) {
  background-color: rgb(var(--color-primary)) !important;
  opacity: 0.8;
}

.containerCalendar :global(.fc-day-today) {
  background-color: rgb(var(--color-secondary)) !important;
}

.containerCalendar :global(.fc-daygrid-day.fc-day-selected) {
  background-color: rgb(var(--color-secondary)) !important;
  opacity: 0.3;
}
.containerCalendar :global(.fc-button) {
  background-color: rgb(var(--color-primary));
  color: white;
  border: 0;
}
.containerCalendar :global(.fc-button):hover,
.containerCalendar :global(.fc-button-active) {
  background-color: rgb(var(--color-secondary)) !important;
  /*Eu usei o important pq a lib define um estilo, e nesse css estou substituindo esse estilo, no fc-button-active não estava funcionando pq tinha outras regras no css, aí tive que usar o important  */
  color: white;
  border: 0;
}
.formModalAddEvent h2 {
  padding-top: 10px;
}
.formModalAddEvent .submitButton {
  background-color: rgb(var(--color-primary));
  margin-top: 10px;
  color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .containerCalendar {
    padding: 5% 2.5%;
    height: 70vh;
  }
  .containerCalendar :global(.fc-header-toolbar) {
    flex-direction: column;
    width: 100%;
  }
  .containerCalendar :global(.fc-col-header-cell-cushion) {
    font-size: 8pt;
  }
  .containerCalendar :global(.fc-header-toolbar .fc-toolbar-chunk:first-child) {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .containerCalendar :global(.fc-toolbar-title) {
    text-align: center;
  }
  .containerCalendar
    :global(.fc-direction-ltr .fc-toolbar > * > :not(:first-child)) {
    margin: 0;
  }
  .containerCalendar :global(.fc-button-group),
  .containerCalendar :global(.fc-today-button),
  .containerCalendar :global(.fc-toolbar-chunk) {
    width: 100%;
  }
  .containerCalendar :global(.fc-daygrid-event) {
    white-space: normal;
    overflow: hidden;
    font-size: 8pt;
    padding: 2px;
  }

  .containerCalendar :global(.fc-daygrid-day-frame) {
    min-height: 60px;
  }

  .containerCalendar :global(.fc-daygrid-day-events) {
    margin: 0;
  }

  .containerCalendar :global(.fc-event-title) {
    font-weight: bold;
    overflow: hidden;
  }
  .containerCalendar :global(.fc-daygrid-day-number) {
    font-size: 10pt;
    color: #333;
  }
  .containerCalendar :global(.fc .fc-scrollgrid-liquid) {
    height: 45vh !important;
  }
}
