.body {
  background-color: white;
}
.loading {
  width: auto;
  min-height: calc(100vh - 170px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  margin-left: 18%;
}
.footer {
  background-color: white;
}
.content {
  padding-top: 80px;
}
.contentMax {
  padding-top: 80px;
}
@media screen and (max-width: 1024px) {
  .main {
    margin-left: 25%;
  }
}
@media screen and (max-width: 768px) {
  .main header {
    margin-left: 18%;
  }
  .main {
    margin-left: 0%;
  }
  .content {
    padding-top: 20%;
  }
  .contentMax {
    padding-top: 70px;
  }
}
