.forms {
  display: flex;
  align-items: center;
  gap: 10%;
}
.divData {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
.divData h1 {
  font-size: 25px;
}
.date {
  background-color: #dcdcdc;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 4px;
  max-width: 150px;
  max-height: 20px;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
  /* justify-content: space-between; */
  background-color: #dcdcdc;
  border-radius: 4px;
  font-size: 18px;
  max-width: 250px;
}

.containerView {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
}

.views {
  align-items: center;
  justify-content: space-around;
  border: solid 1.5px black;
  border-radius: 6px;
  width: 24%;
  height: auto;
  padding: 1%;
}

.titleIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
  font-weight: bold;
}

.top {
  color: lime;
}

.number {
  color: lime;
  font-size: 20pt;
}

.down {
  color: red;
}

.number2 {
  color: red;
  font-size: 20pt;
}
.icon {
  color: blue;
}

.number3 {
  color: blue;
  font-size: 20pt;
}

.line {
  border: solid 1px black;
  margin: 15px;
}

.containerTable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  background-color: gray;
  height: auto;
  border-radius: 10px;
}

.tableTitle {
  background-color: rgb(var(--color-primary));
  width: 140%;
  height: auto;
  border-radius: 5px;
}

.tableSeiLa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
}
