.sectionDashboard {
  margin: 0 10%;
  margin-bottom: 50px;
}

.forms {
  display: flex;
  align-items: center;
  gap: 10%;
}
.divData {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
.divData h1 {
  font-size: 25px;
}
.date {
  background-color: #dcdcdc;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 4px;
  max-width: 150px;
  max-height: 20px;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
  /* justify-content: space-between; */
  background-color: #dcdcdc;
  border-radius: 4px;
  font-size: 18px;
  max-width: 250px;
}

.containerView {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
}

.views {
  align-items: center;
  justify-content: space-around;
  border: solid 1.5px black;
  border-radius: 6px;
  width: 24%;
  height: auto;
  padding: 1%;
}

.titleIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
  font-weight: bold;
}

.top {
  color: lime;
}

.number {
  color: lime;
  font-size: 20pt;
}

.down {
  color: red;
}

.number2 {
  color: red;
  font-size: 20pt;
}
.icon {
  color: blue;
}

.number3 {
  color: blue;
  font-size: 20pt;
}

.line {
  border: solid 1px black;
  margin: 15px;
}

.containerTable {
  margin: 5%;
  background-color: #D3D3D3;
  height: auto;
  border-radius: 5px;
}

.table {
  width: 100%;
}

.thead {
  width: 100%;
  justify-content: space-between;
  background-color: rgb(var(--color-primary));
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.tr {
  color: white;
}

.conteudo{
  width: 100%;
  text-align: center;
}

.action{
  display: flex;
  
}

.action{
 display: flex;
 justify-content: space-around;

}

.iconDelete{
  color: red;
  width: 110%;
  height: auto;
}

.iconEdit{
  color: blue;
  width: 110%;
  height: auto;
}

.financeTitle{
  font-size: 16pt;
  font-weight: 500;
  font-family: "Coolvetica Rg";
}

.financeContainer {
  background-color: rgb(var(--color-background-secondary));
  display: flex;
  padding: 25px;
  margin: 15px 0;
  border-radius: 15px;
  width: 100%;
  justify-content: center;
}
.financeForm {
  width: 100%;
}
.financeSelect {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-background));
  font-size: 12pt;
  padding: 6px 20px;
  border-radius: 5px;
  width: 25.5%;
  height: 36px;
  cursor: pointer;
  transition: all 0.5s;
}
.financeSelect:hover,
.financeSelect:focus {
  transform: scale(1.02);
}
.row01 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  align-items: center;
}
.row02 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.inputName {
  background-color: rgb(var(--color-background));
  color: #000;
  font-size: 14pt;
  padding: 0px 20px;
  border-radius: 5px;
  width: 32%;
  height: 36px;
}
.inputPrice {
  background-color: rgb(var(--color-background));
  color: #000;
  font-size: 14pt;
  padding: 0px 20px;
  border-radius: 5px;
  width: 19%;
  height: 36px;
}

.button {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-background));
  font-size: 12pt;
  padding: 6px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  width: 25%;
}

.buttonM {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-background));
  font-size: 12pt;
  padding: 6px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  width: 100%;
  display: none;
}

.button:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnReport{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(var(--color-primary));
  margin: 20px;
  padding: auto;
  color: white;
  font-size: 16pt;
  padding: 5px;
  border-radius: 8px;
}
