.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Coolvetica Rg";
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 3%;
}

.inputError {
  border-color: #ff4d4f !important;
}

.errorMessage {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
  display: inline;
}

.sectionDashboard {
  margin: 0 10%;
  margin-bottom: 50px;
}

.forms {
  display: flex;
  align-items: center;
  gap: 10%;
}
.divData {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
.divData h1 {
  font-size: 25px;
}
.date {
  margin-left: 20px;
  background-color: #dcdcdc;
  border-radius: 4px;
  max-width: 150px;
  max-height: 20px;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
  background-color: #dcdcdc;
  border-radius: 4px;
  font-size: 18px;
  max-width: 250px;
}

.containerView {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
}

.views {
  align-items: center;
  justify-content: space-around;
  border: solid 1.75px black;
  border-radius: 6px;
  width: 28%;
  height: auto;
  padding: 1%;
}

.titleIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12pt;
  font-weight: bold;
}

.top {
  color: #32cd32;
}

.number {
  color: #32cd32;
  font-size: 20pt;
  transition: 0.5s;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.number:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.down {
  color: red;
}

.number2 {
  color: red;
  font-size: 20pt;
  transition: 0.5s;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.number2:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.icon {
  color: blue;
}

.number3Negative {
  color: red;
  font-size: 20pt;
  transition: 0.5s;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.number3Negative:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.number3 {
  color: #32cd32;
  font-size: 20pt;
  transition: 0.5s;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.number3:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.currencyInput{
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: transparent;
}

.line {
  width: 90%;
  border: solid 1px black;
  margin: 15px;
  justify-self: center;
}

.containerTable {
  margin: 5%;
  background-color: #d3d3d3;
  height: auto;
  border-radius: 5px;
}

.table {
  width: 100%;
  border: #d3d3d3 solid 6px;
  border-radius: 8px;
  overflow: hidden;
}

.thead {
  width: 100%;
  justify-content: space-between;
  background-color: rgb(var(--color-primary));
  width: 100%;
  text-align: center;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.tr {
  color: white;
}

.th {
  padding: 30px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.thead {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.thead .tr .th:first-child {
  border-top-left-radius: 8px;
}

.thead .tr .th:last-child {
  border-top-right-radius: 8px;
}

.conteudo tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.conteudo tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.conteudo {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.action {
  display: flex;
  justify-content: space-around;
}

.iconDelete {
  color: red;
  width: 115%;
  height: auto;
  transition: 0.5s;
}
.iconDelete:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.iconEdit {
  color: blue;
  width: 115%;
  height: auto;
  transition: 0.5s;
}
.iconEdit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.financeTitle {
  font-size: 16pt;
  font-weight: 500;
  font-family: "Coolvetica Rg";
}

.valueTable{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.financeContainer {
  background-color: rgb(var(--color-background-secondary));
  display: flex;
  padding: 25px;
  margin: 15px 0;
  border-radius: 15px;
  width: 100%;
  justify-content: center;
}
.financeForm {
  width: 100%;
}
.financeSelect {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-background));
  font-size: 12pt;
  padding: 6px 20px;
  border-radius: 5px;
  width: 25.5%;
  height: 36px;
  cursor: pointer;
  transition: all 0.5s;
}
.financeSelect:hover,
.financeSelect:focus {
  transform: scale(1.02);
}
.row01 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  align-items: center;
}
.row02 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.inputName {
  background-color: rgb(var(--color-background));
  color: #000;
  font-size: 14pt;
  padding: 0px 20px;
  border-radius: 5px;
  width: 32%;
  height: 36px;
}
.inputPrice {
  background-color: rgb(var(--color-background));
  color: #000;
  font-size: 14pt;
  padding: 0px 20px;
  border-radius: 5px;
  width: 19%;
  height: 36px;
}

.button {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-background));
  font-size: 12pt;
  padding: 6px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  width: 25%;
  transition: all 0.5s;
}

.buttonM {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-background));
  font-size: 12pt;
  padding: 6px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  width: 100%;
  display: none;
}

.button:hover {
  transform: scale(1.05);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnReport {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(var(--color-primary));
  margin: 20px;
  padding: auto;
  color: white;
  font-size: 16pt;
  padding: 5px;
  border-radius: 8px;
  transition: all 0.5s;
}
.btnReport:hover {
  transform: scale(1.05);
}

.button2 {
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-background));
  font-size: 12pt;
  padding: 6px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  width: 25%;
  transition: all 0.5s;
}

.row0 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.financeSelect1 {
  background-color: #d9d9d9;
  color: "black";
  font-size: 12pt;
  padding: 6px 20px;
  border-radius: 5px;
  width: 20%;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 2%;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4%;
  background-color: transparent;
}

.titleDate {
  font-size: 12pt;
  font-weight: 500;
  width: 100%;
}

.inputDate {
  background-color: #d9d9d9;
  color: #000; /* garante visibilidade */
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-left: 2%;
  padding: 5px;
  font-size: 16px;

  /* evita que o tema escuro mude o texto */
  color-scheme: light;

  /* mantém o comportamento padrão do seletor */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.containerViewAndFilter {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.entrada {
  color: rgb(12, 199, 12);
  font-weight: bold;
}

.saida {
  color: rgb(207, 0, 0);
  font-weight: bold;
}

.filterActions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  background-color: rgb(var(--color-primary));
  border-radius: 50px;
  width: 40px;
  height: 40px;
  color: whitesmoke;
  font-size: 20pt;
  transition: 0.5s all;
}

.filterActions:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.noResults {
  align-items: center;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
  padding: 25px;
}

.modalContent h2{
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 15px;
}
.inputGroup > input:not(.button) {
  background-color: rgb(var(--color-background-secondary));
}
.inputGroup > input,
.inputGroup > select {
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .row01 {
    display: block;
    margin-bottom: 0;
  }
  .row01 > input:not(.button) {
    display: block;
    width: 100%;
    height: 35px;
    margin: 15px 0;
  }
  .row02 {
    width: 100%;
    display: block;
  }
  .row02 > select {
    display: block;
    width: 100%;
    height: 35px;
    margin: 15px 0;
  }
  .button {
    display: none;
  }
  .buttonM {
    display: block;
  }
  .containerView {
    flex-direction: column;
    align-items: center;
  }
  .views {
    width: 80%;
    height: auto;
    margin: 2%;
  }
  .table {
    overflow-x: scroll;
  }
  .containerTable {
    overflow: scroll;
  }
  .row0 {
    width: 100%;
    display: block;
  }
  .row0 > select {
    display: block;
    width: 100%;
    height: 35px;
    margin: 15px 0;
  }
  .date {
    justify-self: center;
  }
  
  .th{
    width: 1000px
  }
}
