html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(var(--color-background));
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
}

.logoContainer {
  padding-left: 3vw;
}

.logoContainer img {
  width: 60px;
  height: auto;
}

.linksContainer ul {
  display: flex;
  gap: 20px;
}

.linksContainer ul li {
  font-size: 14pt;
  font-weight: 600;
  color: rgb(70, 135, 243);
  transition: 0.5s all;
}
.linksContainer ul li:hover {
  transform: scale(1.1);
}

.buttonContainer {
  padding-right: 3vw;
}
.buttonContainer a:hover {
  transform: scale(1.1);
}

.signUpButton {
  padding: 5px 2.5vw;
  margin-left: 15px;
  background-color: rgb(70, 135, 243);
  border-radius: 8px;
  color: rgb(var(--color-background));
  transition: all 0.25s;
}

.signInButton {
  padding: 5px 2.5vw;
  background-color: transparent;
  border: 2px solid rgb(70, 135, 243);
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  transition: all 0.5s;
}
.signUpButton:hover,
.signInButton:hover {
  transform: scale(1.1);
  padding: 7px 2.7vw;
}

.burgerContainer {
  display: none;
}
.drawerMenu {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 100%;
  height: auto;
  max-width: 1200px;
  display: flex;
  padding-top: 25px;
}
.hero .titleContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero .titleContainer p:not(.title) {
  padding: 20px 15px 40px 15px;
  font-size: 16pt;
}
.hero .signUpButton {
  width: 40%;
  text-align: center;
  padding: 10px 18px;
  font-size: 14pt;
  font-weight: bold;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  transition: 0.5s all;
}

.hero .signUpButton:hover {
  transform: scale(1.03);
}

.hero .imgContainer {
  width: 50%;
}

.hero .imgContainer img {
  width: 100%;
  height: auto;
}
.function {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  padding: 70px 30px 60px 30px;
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  gap: 25px;
  scrollbar-width: thin;
  scrollbar-color: rgb(109, 6, 210) transparent;
}

.function:hover {
  overflow-y: visible;
}

.function::-webkit-scrollbar {
  height: 8px;
}

.function::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.function::-webkit-scrollbar-thumb {
  background-color: rgb(109, 6, 210);
  border-radius: 4px;
}

.function .functionCard {
  flex: 0 0 auto;
  background-color: rgb(109, 6, 210);
  padding: 20px;
  width: 18%;
  min-width: 205px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-radius: 15px;
  transition: 0.5s all;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
}

.function .functionCard:hover {
  transform: translateY(-25px);
  z-index: 1;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.3);
}

.function .functionCard .icon {
  font-size: 5vw;
  height: 40%;
  align-self: center;
  color: whitesmoke;
}
.function .functionCard .text {
  height: 60%;
  align-content: center;
}
.function .functionCard h2 {
  font-family: "Coolvetica Rg";
  text-align: center;
  font-weight: 500;
  color: whitesmoke;
}
.function .functionCard p {
  text-align: center;
  color: whitesmoke;
  padding-top: 5px;
}
.guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100% !important;
  max-width: 1200px;
  height: 500px;
  display: flex;
  padding: 0 30px;
  z-index: 10;
}
.guide h1 {
  font-family: "Coolvetica Rg";
  font-size: 30pt;
}
.guide h1 span {
  color: rgb(70, 135, 243);
  text-decoration: underline;
}
.guide p {
  font-size: 16pt;
}
.guide .guideCardAndVideo {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 35px 0;
}
.guide .guideCard {
  background: linear-gradient(white, white) padding-box,
    conic-gradient(
        from 0deg,
        rgb(96 186 108),
        rgb(70, 135, 243),
        rgb(109 6 210),
        rgb(189 24 14),
        rgb(109 6 210),
        rgb(96 186 108)
      )
      border-box;

  padding: 20px 20px 20px 40px;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-radius: 15px;
  transition: 0.5s all;
  font-size: 15pt;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  border: 6px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.guide .guideCard li {
  color: #000;
  list-style: disc;
  padding-bottom: 10px;
}
.guide video {
  align-self: center;
  width: 65%;
  height: 100%;
  border-radius: 15px;
}
.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  height: auto;
  margin: 100px 0;
  display: flex;
  gap: 50px;
  padding: 0 30px;
  z-index: 10;
}
.settings .videoContainer {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings .videoContainer video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.settings .textContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.settings .textContainer h1 {
  font-family: "Coolvetica Rg";
  font-size: 30pt;
}
.settings .textContainer p {
  font-size: 16pt;
}
.callAction {
  padding: 0 30px;
}
.callAction .separator {
  height: 15px;
  background: linear-gradient(
    90deg,
    rgb(96 186 108),
    rgb(70, 135, 243),
    rgb(109 6 210),
    rgb(189 24 14)
  );
  margin: 50px 0 25px 0;
}

.title {
  font-family: "Coolvetica Rg";
  font-size: 30pt !important;
  padding: 0 15px;
}
.title .spanTitle {
  color: rgb(70, 135, 243);
  text-decoration: underline;
  padding-right: 7px;
}

.aboutUs {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  padding: 50px;
  z-index: 10;
}

.aboutUs h1 {
  font-family: "Coolvetica Rg";
  color: rgb(70, 135, 243);
  font-size: 28pt;
  text-align: center;
  padding-bottom: 20px;
}

.aboutUs p {
  font-size: 16pt;
  text-align: justify;
  padding-bottom: 75px;
}

.aboutUs .containerDevs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.aboutUs .containerDevs {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aboutUs .containerDevs img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  transition: 0.5s all;
}
.aboutUs .containerDevs img:hover {
  transform: scale(1.1);
}

.aboutUs .containerDevs h6 {
  font-size: 13pt;
  font-weight: bold;
}
.aboutUs .containerDevs p {
  font-size: 13pt;
  padding: 0;
}

.aboutUs .wrapperDevs {
  display: flex;
  gap: 30px;
}

.aboutUs .containerDevs {
  position: relative;
  display: inline-flex;
  cursor: pointer;
}

.aboutUs .containerDevs .popover {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.popover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.containerDevs:hover .popover {
  visibility: visible;
  opacity: 1;
}

.aboutUs .ball01 {
  position: absolute;
  top: 0;
  right: 40px;
  width: 64px;
  height: 64px;
  background-color: rgb(70 135 243);
  border-radius: 50%;
}

.aboutUs .ball02 {
  position: absolute;
  bottom: 0;
  left: 24px;
  width: 55px;
  height: 55px;
  background-color: rgb(109 6 210);
  border-radius: 50%;
}

.aboutUs .ball03 {
  position: absolute;
  bottom: 16px;
  right: 32px;
  width: 16px;
  height: 16px;
  background-color: rgb(189 24 14);
  border-radius: 50%;
}

.aboutUs .ball04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(96 186 108);
  border-radius: 50%;
}

.aboutUs .text01 {
  padding: 0;
}

.pitch {
  background: #0562fd;
  background: linear-gradient(
    150deg,
    rgba(23, 106, 244, 1) 0%,
    rgba(174, 5, 255, 1) 100%
  ) !important;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  padding: 50px;
}
.pitch .videoContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
  position: relative;
}

.pitch .video {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 10;
}

footer .container {
  width: 100%;
  background: linear-gradient(
    90deg,
    /* rgb(122, 235, 140), */ rgb(63, 136, 247),
    rgb(149, 1, 246) /* rgb(240, 37, 33) */
  );
  height: 100%;
}

footer .footer {
  display: flex;
  align-items: center;
  border-top: 2px solid
    linear-gradient(90deg, rgb(70, 135, 243), rgb(109 6 210));
}

footer .containerLogo {
  width: 20%;
  height: auto;
}

footer .img {
  justify-self: center;
  width: 35%;
  height: auto;
  margin: 3%;
  padding: 3%;
}

footer .conteudo {
  width: 50%;
  height: auto;
  color: white;
  text-align: center;
}

footer .icons {
  width: 30%;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  gap: 20%;
}

footer .a:hover {
  transform: scale(1.25);
}

footer .a {
  color: white;
  width: 140%;
  height: auto;
  transition: 0.3s all;
}

@media screen and (max-width: 768px) {
  footer .footer {
    padding: 15px 0;
    margin-left: 0;
    font-size: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .img {
    width: 95%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  footer .icons {
    flex-direction: row;
    width: 40%;
    margin-top: 6%;
  }

  .burger {
    position: relative;
    width: 20px;
    height: 15px;
    background: transparent;
    cursor: pointer;
    display: block;
  }

  .burger input {
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 2.5px;
  }

  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    left: 2.5px;
  }

  .drawerMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100dvh;
    background-color: rgb(var(--color-background));
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10000;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .drawerMenu.active {
    transform: translateX(0);
  }

  .drawerMenu.active::before {
    opacity: 1;
    visibility: visible;
  }

  .drawerMenu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 20px;
    padding: 20px;
  }

  .drawerMenu ul li {
    font-size: 17pt;
    font-weight: 600;
    color: rgb(70, 135, 243);
    transition: 0.5s all;
  }

  .drawerMenu ul li:hover {
    transform: scale(1.01);
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(var(--color-background-secondary));
    width: 100%;
  }

  .drawerMenu .buttonContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .drawerMenu .signInButton,
  .drawerMenu .signUpButton {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
  }

  .drawerMenu .logoContainer {
    justify-items: center;
    padding: 0;
  }
  .drawerMenu .logoContainer img {
    width: 25vw;
    height: auto;
    padding-bottom: 25px;
  }
  .linksContainer {
    display: none;
  }
  .buttonContainer {
    display: none;
  }
  .burgerContainer {
    padding-right: 5vw;
    display: block;
  }
  .signUpButton {
    margin: 0;
  }
  .buttonContainer {
    margin: 0;
    padding: 0;
  }
  .drawerMenu ul li:focus {
    transform: scale(1.01);
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(var(--color-background-secondary));
    width: 100%;
  }
  .navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100vw;
  }
  .hero {
    flex-direction: column-reverse;
    padding-top: 100px;
    height: auto;
  }
  .hero .titleContainer {
    width: 100%;
    padding: 0 5vw;
  }
  .hero .titleContainer :global(.title) {
    font-size: 23pt;
    padding: 0;
  }
  .hero .titleContainer .title {
    padding: 0 5vw;
  }

  .hero .signUpButton {
    width: 100%;
  }
  .hero .imgContainer {
    width: 100%;
    padding: 0 5vw;
  }
  .function {
    height: 550px;
    margin: 0;
  }
  .function .functionCard {
    width: 180px;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  .function .functionCard .icon {
    height: 30%;
    font-size: 17vw;
  }
  .guide {
    height: auto;
    flex-direction: column;
    margin: 50px;
  }
  .guide :global(.title) {
    font-size: 23pt;
    padding: 0;
  }
  .title {
    padding: 0;
  }
  .guide .guideCardAndVideo {
    flex-direction: column-reverse;
    width: 100%;
  }
  .guide .guideCard {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .guide .guideCard li {
    list-style: none;
  }
  .guide video {
    width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
  }
  .settings {
    flex-direction: column-reverse;
    height: auto;
  }
  .settings .textContainer {
    width: 100%;
    height: auto;
  }
  .settings .videoContainer {
    width: 100%;
    height: auto;
  }
  .callAction :global(.title) {
    font-size: 20pt;
  }
  .callAction .title {
    justify-content: center;
  }
  .aboutUs {
    height: auto;
    padding: 0;
  }
  .aboutUs .text01 {
    padding: 0 30px;
  }
  .aboutUs p {
    padding: 0 30px;
  }
  .aboutUs .wrapperDevs {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    gap: 25px;
    scrollbar-width: thin;
    scrollbar-color: rgb(109, 6, 210) transparent;
    padding-top: 150px;
    padding-left: 25px;
  }
  .aboutUs .containerDevs {
    flex: 0 0 auto;
  }
  .aboutUs .ball01 {
    display: none;
  }
  .aboutUs .ball02 {
    display: none;
  }
  .aboutUs .ball03 {
    display: none;
  }
  .aboutUs .ball04 {
    display: none;
  }

  .pitch .videoContainer {
    width: 100%;
  }
}
