html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(var(--color-background));
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
}

.logoContainer {
  padding-left: 3vw;
}

.logoContainer img {
  width: 60px;
  height: auto;
}

.linksContainer ul {
  display: flex;
  gap: 20px;
}

.linksContainer ul li {
  font-size: 14pt;
  font-weight: 600;
  color: rgb(var(--color-primary));
  transition: 0.5s all;
}
.linksContainer ul li:hover {
  transform: scale(1.05);
}

.buttonContainer {
  padding-right: 3vw;
}
.buttonContainer a:hover {
  transform: scale(1.1);
}

.signUpButton {
  padding: 5px 2.5vw;
  margin-left: 15px;
  background-color: rgb(var(--color-primary));
  border-radius: 8px;
  color: rgb(var(--color-background));
  transition: all 0.25s;
}

.signInButton {
  padding: 5px 2.5vw;
  background-color: transparent;
  border: 2px solid rgb(var(--color-primary));
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  transition: all 0.5s;
}
.signUpButton:hover,
.signInButton:hover {
  transform: scale(1.1);
  padding: 7px 2.7vw;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 100%;
  height: auto;
  max-width: 1200px;
  height: 350px;
  display: flex;
  padding-top: 25px;
}
.hero .titleContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero .titleContainer p:not(.title) {
  padding: 20px 15px 40px 15px;
  font-size: 16pt;
}
.hero .signUpButton {
  width: 13vw;
  text-align: center;
  padding: 10px 18px;
  font-size: 14pt;
  font-weight: bold;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  transition: 0.5s all;
}

.hero .signUpButton:hover {
  transform: scale(1.03);
}

.hero .imgContainer {
  width: 50%;
}

.hero .imgContainer img {
  width: 100%;
  height: auto;
}
.function {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: 450px;
  display: flex;
  padding-top: 25px;
  margin: 100px 0;
}
.function .functionCard {
  background-color: rgb(109, 6, 210);
  padding: 20px;
  width: 18%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-radius: 15px;
  transition: 0.5s all;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
}
.function .functionCard:hover {
  transform: translateY(-25px);
  z-index: 1;
}

.function .functionCard .icon {
  font-size: 5vw;
  height: 40%;
  align-self: center;
  color: whitesmoke;
}
.function .functionCard .text {
  height: 60%;
  align-content: center;
}
.function .functionCard h2 {
  font-family: "Coolvetica Rg";
  text-align: center;
  font-weight: 500;
  color: whitesmoke;
}
.function .functionCard p {
  text-align: center;
  color: whitesmoke;
  padding-top: 5px;
}
.guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  margin: 150px 0;
}
.guide h1 {
  font-family: "Coolvetica Rg";
  font-size: 30pt;
}
.guide h1 span {
  color: rgb(var(--color-primary));
  text-decoration: underline;
}
.guide p {
  font-size: 16pt;
}
.guide .guideCardAndVideo {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 35px 0;
}
.guide .guideCard {
  background-color: rgb(96 186 108);
  padding: 20px;
  padding-left: 40px;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  border-radius: 15px;
  transition: 0.5s all;
  font-size: 15pt;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.52);
}
.guide .guideCard li {
  color: #fff;
  list-style: disc;
  padding-bottom: 10px;
}
.guide video {
  align-self: center;
  width: 65%;
  height: 100%;
  border-radius: 15px;
}
.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  gap: 50px;
}
.settings .videoContainer {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings .videoContainer video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.settings .textContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.settings .textContainer h1 {
  font-family: "Coolvetica Rg";
  font-size: 30pt;
}
.settings .textContainer p {
  font-size: 16pt;
}
.callAction .separator {
  height: 15px;
  background: linear-gradient(
    90deg,
    rgb(96 186 108),
    rgb(70, 135, 243),
    rgb(109 6 210),
    rgb(189 24 14)
  );
  margin: 50px 0 25px 0;
}

.title {
  font-family: "Coolvetica Rg";
  font-size: 30pt !important;
  padding: 0 15px;
}
.title .spanTitle {
  color: rgb(70, 135, 243);
  text-decoration: underline;
  padding: 0 10px;
}

.aboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 100px 0;

}

.aboutUs h1 {
  font-family: "Coolvetica Rg";
  color: rgb(70, 135, 243);
  font-size: 28pt;
  text-align: center;
}

.aboutUs p {
  font-size: 16pt;
  text-align: center;
}

.aboutUs .containerDevs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.aboutUs .containerDevs {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.aboutUs .containerDevs img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.aboutUs .containerDevs h6 {
  font-size: 13pt;
  font-weight: bold;
}
.aboutUs .containerDevs p {
  font-size: 13pt;
}

.aboutUs .wrapperDevs {
  display: flex;
  gap: 30px;
}
