.loginPage {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerToggle {
  width: 40%;
  height: 100vh;
  background-color: rgb(var(--color-primary));
  display: flex;
  justify-content: center;
  position: relative;
}

.containerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8% 0;
}

.containerLogo img {
  width: 30%;
}

.wrapperContent {
  display: block;
  position: relative;
  z-index: 2;
}

.wrapperText {
  display: block;
  text-align: center;
  padding: 10%;
}

.wrapperText h3 {
  font-family: "Coolvetica Rg", sans;
  font-size: 40pt;
  color: #ffffff;
}

.wrapperText p {
  font-family: "Louis George Cafe", sans-serif;
  color: #ffffff;
  font-size: 20pt;
  margin: 50px 0;
}

.wrapperText button {
  font-family: "Coolvetica Rg", sans;
  color: #ffffff;
  font-size: 20pt;
  border: 5px solid #ffffff;
  border-radius: 15px;
  padding: 5px 55px;
  transition: 1s all;
}

.wrapperText button:hover {
  transition: 1s all;
  transform: scale(1.05);
  color: #000;
  background-color: #ffffff;
}

.particlesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.particle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: float 15s infinite linear;
}

.particle:nth-child(3n + 1) {
  width: 2px;
  height: 2px;
}

.particle:nth-child(3n + 2) {
  width: 3px;
  height: 3px;
}

.particle:nth-child(3n) {
  width: 4px;
  height: 4px;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--tx, 100px), var(--ty, 100px));
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapperText h3 {
    font-size: 27pt;
  }
  .wrapperText p {
    font-size: 15pt;
  }
  .wrapperText button {
    font-size: 15pt;
  }
}

@media only screen and (max-height: 650px) {
  .containerToggle{
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .loginPage {
    display: block;
  }
  .containerToggle {
    width: 100%;
    height: 320px;
    background-color: rgb(var(--color-primary));
    display: flex;
    justify-content: center;
    position: relative;
  }
  .containerLogo {
    margin: 15px 0;
  }
  .wrapperText {
    padding: 10px 0;
  }
  .wrapperText h3 {
    font-size: 25pt;
  }
  .wrapperText p {
    font-size: 15pt;
    margin: 10px 10px;
  }
  .wrapperText button {
    font-size: 17pt;
    border: 2.5px solid #ffffff;
    border-radius: 10px;
    padding: 2px 25px;
  }
}

