.loginPage {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerToggle {
  width: 40%;
  height: 100vh;
  background: #0562fd;
  display: flex;
  justify-content: center;
  position: relative;
}

.signInToggle {
  background: #0562fd;
  background: linear-gradient(
    150deg,
    rgba(23, 106, 244, 1) 0%,
    rgba(174, 5, 255, 1) 100%
  ) !important;
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.signUpToggle {
  background: #0562fd;
  background: linear-gradient(
    243deg,
    rgba(5, 98, 253, 1) 0%,
    rgba(174, 5, 255, 1) 100%
  );
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.containerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8% 0;
}

.containerLogo img {
  width: 30%;
}

.wrapperContent {
  display: block;
  position: relative;
  z-index: 2;
}

.wrapperText {
  display: block;
  text-align: center;
  padding: 10%;
}

.wrapperText h3 {
  font-family: "Coolvetica Rg", sans;
  font-size: 40pt;
  color: #ffffff;
}

.wrapperText p {
  font-family: "Louis George Cafe", sans-serif;
  color: #ffffff;
  font-size: 20pt;
  margin: 50px 0;
}

.wrapperText button {
  font-family: "Coolvetica Rg", sans;
  color: #ffffff;
  font-size: 20pt;
  border: 5px solid #ffffff;
  border-radius: 15px;
  padding: 5px 55px;
  transition: 1s all;
}

.wrapperText button:hover {
  transition: 1s all;
  transform: scale(1.05);
  color: #000;
  background-color: #ffffff;
}

@media only screen and (max-width: 1400px) {
  .wrapperText h3 {
    font-size: 27pt;
  }
  .wrapperText p {
    font-size: 15pt;
  }
  .wrapperText button {
    font-size: 15pt;
  }
  .wrapperText button {
    font-size: 15pt;
  }

}

@media only screen and (max-width: 768px) {
  .loginPage {
    display: block;
  }
  .containerToggle {
    width: 100%;
    height: auto;
    background-color: rgb(70, 135, 243);
    display: flex;
    justify-content: center;
    position: relative;
  }
  .containerLogo {
    margin: 15px 0;
  }
  .wrapperText {
    padding: 10px 0;
  }
  .wrapperText h3 {
    font-size: 25pt;
  }
  .wrapperText p {
    font-size: 15pt;
    margin: 10px 10px;
  }
  .wrapperText button {
    font-size: 17pt;
    border: 2.5px solid #ffffff;
    border-radius: 10px;
    padding: 2px 25px;
  }
}

