.containerFilter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFilter {
  width: 80%;
  font-size: 14pt;
  border-radius: 50px;
  border: 0.5px solid black;
  padding: 0.5%;
}

.buttonFilter {
  margin-left: 10px;
}
.icon {
  font-size: 16pt;
}

.buttonFilter:hover .icon {
  transform: scale(1.2);
  font-weight: bold;
}

.containerCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: #d9d9d9;
  margin-top: 1.5%;
}

.Cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  transition: 1s all;
  padding: 7%;
  margin: 2.5%;
}

.images {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.content {
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 5%;
}

.button {
  background-color: rgb(var(--color-primary));
  color: white;
  border-radius: 50%;
  font-size: 18pt;
  padding: 1%;
}

.counter {
  font-size: 18pt;
  font-family: "Coolvetica Rg";
}

.Arrowicon {
  align-items: center;
  justify-content: center;
}

.titleCard {
  font-family: "Coolvetica Rg";
  font-size: 20pt;
  font-weight: 300;
}

.textCard {
  font-size: 14pt;
  font-weight: 200;
}

.Cardadd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 1s all;
  padding: 7%;
  margin: 2.5%;
  background-color: white;
}

.add {
  width: 30%;
  height: auto;
  transition: 1s all;
}
.add:hover {
  transform: scale(1.1);
}

.contentAdd {
  font-size: 16pt;
  margin-top: 15%;
  font-weight: 300;
  flex-direction: end;
}

.line {
  border: 2px solid black;
}

.modalContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.modalLeft{
  width: 50%;
  margin-right: 100px;
}

.modalRight{
  width: 50%;
}

.ModalInfos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 30px ;
  margin-bottom: 3%;
}

.ModalInfos h1{
  font-size: 18pt;
  font-family: "Coolvetica Rg";
}

.ModalTitle{
  font-weight: 400;
  font-size: 16pt;
}

.ModalTxt{
  font-size: 14pt;
}

.ModalForne{
  margin-top: 3%;
  margin-bottom: 3%;
}

.ModalForne h1{
  font-size: 18pt;
  font-family: "Coolvetica Rg";
}

.ModalQuanti{
  margin-top: 2%;
}

.modalImages{
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin: 5%;
}

.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 6%;
}

.buttonEdit{
  border: 0.5px solid black ;
  border-radius: 5px;
  padding: 2%;
  transition: 1s all;
  color:  rgb(var(--color-primary));
}

.buttonEdit:hover{
  transform: scale(1.1);
  font-weight: 400;
}

.buttonDelete{
  border: 0.5px solid black ;
  border-radius: 5px;
  padding: 2%;
  transition: 1s all;
  color:red;
}

.buttonDelete:hover{
   transform: scale(1.1);
  font-weight: 400;
}