.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  position: fixed;
  width: 82%;
  margin-left: 250px;
  top: 0;
  right: 0;
  z-index: 900;
  height: 80px;
  background-color: #f7f9fa;
}
.containerLogo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerLogo img {
  width: 80px;
  height: auto;
}
.containerIcons {
  display: flex;
  margin-left: auto;
  gap: 20px;
  padding-right: 2%;
  z-index: 1;
}
.title {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Coolvetica Rg";
  font-size: 20pt;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.none {
  display: none;
}
.none img {
  display: none;
}
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: color-mix(
    in srgb,
    rgb(var(--color-background-secondary)) 40%,
    white
  );
  border-radius: 8px;
  box-shadow: -6px 6px 0px 5px rgb(var(--color-background-secondary));
  -webkit-box-shadow: -4px 8px 0px 4px rgb(var(--color-background-secondary));
  -moz-box-shadow: -4px 5px 0px 5px rgb(var(--color-background-secondary));
  padding: 10px;
  min-width: 250px;
  z-index: 1000;
}
.iconContainer {
  position: relative;
  width: 20%;
  min-width: 40px;
}
.icon {
  cursor: pointer;
  transition: all 0.25s;
  width: 80%;
  height: 80%;
  min-width: 24px;
  min-height: 24px;
}

.icon:hover {
  transform: scale(1.2);
}

.notification {
  background-color: rgb(var(--color-background));
  border-radius: 15px;
  padding: 15px;
  margin: 10px 0;
}
.notificationTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

.containerProfile {
  display: block;
  width: 100%;
}
.containerUser {
  display: flex;
  justify-content: left;
  gap: 15px;
}

.userPhoto {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.userPhoto img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

.userInfo {
  margin-bottom: 15px;
  text-align: left;
}

.userInfo h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.userInfo p {
  margin: 0;
  font-size: 12px;
  color: #000000;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px 0;
}

.userManeger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.manegerOption {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s;
}

.manegerOption:hover {
  background-color: #fff;
  border-radius: 5px;
}

.manegerOption svg {
  margin-right: 10px;
  font-size: 18px;
}

button.manegerOption {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 8px;
  text-align: left;
}

.configureSignature {
  background-color: #ffd966;
  border: none;
  border-radius: 5px;
  color: #333;
  font-weight: 600;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
}
.modalContent h1 {
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 3%;
}
.modalContainerInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.modalContainerImg {
  width: 50%;
  display: flex;
  justify-content: center;
}
.modalContainerInfo img {
  width: 25%;
  justify-content: center;
}
.modalContainerInfo input {
  width: 50%;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(var(--color-background-secondary));
}
.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.modalButtonEdit {
  transition: all 50ms;
  color: #fff;
  background-color: #0084ff;
  padding: 12px 20px;
  border-radius: 10px;
}
.modalButtonEdit:hover {
  transform: scale(1.1);
  transition: all 50ms;
}
.modalButtonClose {
  transition: all 50ms;
  color: #fff;
  background-color: #c70606;
  padding: 5px 15px;
  border-radius: 10px;
}
.modalButtonClose:hover {
  transform: scale(1.1);
  transition: all 50ms;
}
.iconContainer {
  width: 20%;
}
.containerNotifications {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #ffffff rgb(var(--color-primary));
}
.dropdownContributors {
  position: absolute;
  top: 0;
  right: 0;
  background-color: color-mix(
    in srgb,
    rgb(var(--color-background-secondary)) 40%,
    white
  );
  border-radius: 8px;
  box-shadow: -6px 6px 0px 5px rgb(var(--color-background-secondary));
  -webkit-box-shadow: -4px 8px 0px 4px rgb(var(--color-background-secondary));
  -moz-box-shadow: -4px 5px 0px 5px rgb(var(--color-background-secondary));
  padding: 10px;
  margin-left: 20px;
  min-width: 300px;
  max-width: 800px;
  min-height: 450px;
  max-height: 85vh;
  z-index: 2000;
}
.contributorsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  min-height: 450px;
}
.closeButton {
  justify-self: left;
}
.headerContributors .title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Louis George Cafe";
  margin-bottom: 10px;
  justify-self: center;
}
.headerContributors {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(var(--color-primary));
  z-index: 2500;
}

.viewContributors {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  height: 0;
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-primary)) transparent;
  padding: 10px;
}
.addButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.addButton {
  background-color: rgb(var(--color-secondary));
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  align-self: center;
}
.input:focus {
  outline: none;
  border: 2px solid rgb(var(--color-primary));
}
.input::placeholder {
  color: #666;
  font-weight: 700;
}
.divisorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.blockContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  box-sizing: border-box;
}

.blockRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.blockWrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 10px 0;
}

.blockLabel {
  font-size: 15px;
  color: #333;
  padding-left: 10px;
}

.switch {
  position: relative;
  height: 24px;
  width: 44px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.switch:checked {
  background-color: rgb(var(--color-secondary));
}

.switch::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.switch:checked::before {
  transform: translateX(20px);
}
.addContributorForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  max-height: 100%;
  width: 700px;
  padding: 10px;
}
.checkboxsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}
.checkboxTitle {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.divider02 {
  width: 100%;
  max-width: 600px;
  border-radius: 50px;
  height: 2px;
  background-color: #666;
  margin: 10px 0;
}
.actionsButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.addBtn {
  background-color: rgb(var(--color-secondary));
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: auto;
  transition: all 0.3s;
}
.addBtn:hover {
  transform: scale(1.05);
}
.cancelBtn {
  background-color: rgba(var(--color-primary), 0.7);
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: auto;
  margin-right: 10px;
  transition: all 0.3s;
}
.cancelBtn:hover {
  transform: scale(1.05);
}
 
.filterOptions{
  padding: 1%;
}

.filterButton{
  font-size: 14pt;
  font-weight: 500;
}

.filterButton1{
  font-size: 14pt;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filterOption2{
  padding: 1%;
  margin: 2%;
}

.filterButton2{
  font-size: 12pt;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .dropdownContributors {
    width: 90vw;
  }
  .header {
    width: 100%;
    margin-left: 0;
    height: 70px;
    padding: 0 2%;
  }
  .containerLogo img {
    width: 60px;
  }
  .containerIcons {
    gap: 15px;
  }
  .iconContainer {
    width: auto;
    min-width: 30px;
  }
  .icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
  .addContributorForm {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .addContributorForm {
    width: 100%;
  }
  .dropdownContributors {
    width: 70vw;
  }
}
