.navbar {
  background-color: #4687f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 18%;
  position: fixed;
}
.navbar .logo {
  width: 50%;
  height: auto;
  margin-bottom: 10%;
  position: relative;
  margin-top: 2%;
  align-items: center;
  display: flex;

}
.nav_link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Louis George Cafe", sans-serif;
  color: #ffffff;
  margin-bottom: 5%;
  position: relative;
  font-size: 125%;
  font-weight: 600;

}
.nav_link:hover{
  transform: scale(1.05);
}


.help{
  margin-top: 60%;
  position: relative;
  right: 10%;

}