.container {
  width: 100%;
  background-color: rgb(var(--color-secondary));
  height: 100%;
}
.footer {
  margin-left: 18%;
  display: flex;
  align-items: center;
}
.containerLogo {
  width: 20%;
  height: auto;
}
 .img {
  width: 35%;
  height: auto;
  margin: 3%;
}
.conteudo {
  width: 50%;
  height: auto;
}
.links {
  font-family: "Louis George Cafe", sans-serif;
  color: white;
  padding-right: 10%;
  font-size: 100%;
  font-weight: 700;
  cursor: pointer;
}
.links:hover {
  font-size: 14pt;
}
.icons {
  width: 30%;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  gap: 18%;
}
.a {
  color: white;
  width: 140%;
  height: auto;
}
@media screen and (max-width: 768px){
.footer{
  margin-left: 3%;
  font-size: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img{
  width: 90%;
  height: auto;
  margin: 6%;
}
.icons{
  flex-direction: row;
  width:40%;
  margin-top: 3%;
}

}