.container {
  width: 100%;
  background-color: rgb(var(--color-secondary));
  height: 100%;
}
.footer{
  margin-left: 18%;
  display: flex;
  align-items: center;

}
.containerLogo{
  width: 20%;
  height: auto;
}
.containerLogo > img{
  width: 35%;
  height: auto;
  margin: 3%;
}
.conteudo{
  width:50%;
  height: auto;
}
.links{
  font-family: "Louis George Cafe", sans-serif;
  color: white;
  padding-right: 10%;
  width: 100%;
  font-weight: 700;
  cursor: pointer;

}
.links:hover{
  transform: scale(1.10);
}
.icons{
  width: 30%;
  height: auto;
}
.icons .a{
 color: white;
}


