@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Louis George Café";
    src: url("/fonts/LouisGeorgeCafe.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Coolvetica Rg";
    src: url("/fonts/CoolveticaRg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --color-primary: 70, 135, 243;
    --color-secondary: 23, 106, 244;
    --color-background: 255 255 255;
    --color-background-secondary: 217 217 217;

    font-family: "Louis George Café", sans-serif;
  }

  .theme-blue {
    --color-primary: 70, 135, 243;
    --color-secondary: 23, 106, 244;
  }

  .theme-green {
    --color-primary: 96 186 108;
    --color-secondary: 68 156 80;
  }

  .theme-red {
    --color-primary: 189 24 14;
    --color-secondary: 155 23 15;
  }

  .theme-purple {
    --color-primary: 109 6 210;
    --color-secondary: 82 9 185;
  }
}
